<br><%= render "user_location" %>
<br><%= link_to "Show all", stalls_path %>
<br><% if @stalls.any? %>
  <% @stalls.each do |stall| %>
    <%= link_to stall.name, stall_path(stall) %><br>
    <%= image_tag stall.image.url(:medium) %><br>
    Description:<%= stall.description %><br>
    Address:<%= stall.address %><br>
    <% if current_user == stall.user %>


      <%= link_to "Edit", edit_stall_path(stall) %><br>
      <%= link_to "Delete", stall_path(stall), method: :delete %><br>
    <% end %>
      _________________<br>
  <% end %>
<% else %>
  No stalls yet
<% end %>
<% if @stalls_filter %>
  <%= render "filter_map" %>
<% end %>
<% array = [] %>
<% @stalls_filter.each do |s| %>
  <% array.push(s) %>
<% end %>
<script>
  window.stall = "<%=array %>"
</script>



<div id="coords-long" data-longitude="<%= @stalls.first.longitude %>"></div>

<a><%= link_to "Add a stall", new_stall_path %>  </a>
