
  <%= @stall.name %><br>
  <%= image_tag @stall.image.url(:medium) %><br>
  Description:<%= @stall.description %><br>
  <%= image_tag @stall.menu_image.url(:medium) %><br>
  Address:<%= @stall.address %><br>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@stall.latitude},#{@stall.longitude}&markers=#{@stall.latitude},#{@stall.longitude}&zoom=15&size=640x400&key=AIzaSyCZ4K0_zcXxMjm6RwvYCczETWkr0CELFy4",
              class: 'img-fluid img-rounded', alt: "#{@stall.name} on the map"%>
  <br>
  <%= link_to "Edit", edit_stall_path(@stall) %><br>
  <%= link_to "Delete", stall_path(@stall), method: :delete %>
  <%= link_to 'New Event', new_stall_event_path(@stall) %>


<div class="simple-calendar">
  <div class="calendar-heading">
    <% if @events %>
      <%= month_calendar events: @events do |date, events| %>
        <%= date.strftime("%d") %>
        <% events.each do |event| %>
          <div>
            <%= event.location %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
