<!DOCTYPE html>
<html>
<head>
  <title>StreetFood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <%= csrf_meta_tags %>
</head>

	<body>
    <ul>
  	  <% if user_signed_in? %>
        <li>
  	  	  <%= link_to "Create New Stall", new_stall_path, :class => "link"  %>
        </li>
        <li>
          <%= link_to "Show Stalls", stalls_path, :class => "link" %>
        </li>
        <li>
  	  	  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "link" %>
        </li>
  	  <% else %>
        <li>
          <%= link_to "Login", new_user_session_path, :class => "link" %>
        </li>
        <li>
  			  <%= link_to "Register", new_user_registration_path, :class => "link" %>
        </li>
        <li>
          <%= link_to "Show Stalls", stalls_path, :class => "link" %>
        </li>
  	  <% end %>
    </ul>
		<%= notice %>
		<%= yield %>

	</body>
</html>
