<!DOCTYPE html>
<html>
<head>
  <title>StreetFood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ4K0_zcXxMjm6RwvYCczETWkr0CELFy4&callback=initMap"async defer></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <%= csrf_meta_tags %>
</head>

	<body>
	  <% if user_signed_in? %>
	  	<%= link_to "New Stall", new_stall_path %>
	  	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	  <% else %>
			<%= link_to "Login", new_user_session_path %>
			<%= link_to "Register", new_user_registration_path %>
	  <% end %>

		<%= notice %>
		<%= yield %>

	</body>
</html>
